@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

 #root {
  width:100%;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
 }
 h1,h2,h3 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
 }
 .faq {
  background-image: url('./assets/images/bg.svg');
 }
 
 /* Auth Nav styling */

.authNav {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}
.auth,.auth_blue {
    text-decoration: none;
    font-weight: 600;
    padding: 5% 0;
    border-bottom: 5px solid rgba(214,209,248,0.2);
    width: 50%;
}
.auth_blue {
    border-bottom: 5px solid rgba(83, 82, 236, .9);
}
#reg {
    text-align: left;
}
#log {
    text-align: right;
}


